<div class="main-container">
  <div *ngIf="recipe; else loading" class="recipe-details">
    <h1>{{ recipe.name }}</h1>
    <p class="cook-time">
      <strong>Cook Time:</strong> {{ recipe.cook_time }} minutes
      <button class="favorite-button" (click)="toggleFavorite()">
        <i [ngClass]="isFavorite ? 'fas fa-heart' : 'far fa-heart'"></i>
      </button>
    </p>
    <div class="ingredients-section">
      <h2>Ingredients</h2>
      <div *ngIf="isFetching; else ingredientsList">
        <div class="loading-spinner"></div>
      </div>
      <ng-template #ingredientsList>
        <ul>
          <li *ngFor="let ingredient of recipe.ingredients" 
              [class.has-ingredient]="ingredient.hasIngredient && !ingredient.inShoppingList"
              [class.in-shopping-list]="ingredient.inShoppingList"
              [class.missing-ingredient]="!ingredient.hasIngredient && !ingredient.inShoppingList">
            <span>{{ ingredient.name }}</span>
            <ng-container *ngIf="!ingredient.hasIngredient && !ingredient.inShoppingList">
              <button *ngIf="!ingredient.inShoppingList" (click)="addToShoppingList(ingredient.name)">Add to List</button>
            </ng-container>
            <a *ngIf="ingredient.inShoppingList" routerLink="/shopping-list" class="added-text">In Shopping List</a>
          </li>
        </ul>
      </ng-template>
    </div>
    <div class="directions-section">
      <h2>Directions</h2>
      <p>{{ recipe.directions }}</p>
    </div>
  </div>
  <ng-template #loading>
    <div class="loading-spinner"></div>
  </ng-template>
</div>
