.main-container {
  padding-top: 50px;  
  height: 100vh; 
  overflow-y: auto;  
}

.recipe-details {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.recipe-details h1 {
  color: #333;
  font-size: 28px;
}

.cook-time {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.ingredients-section h2,
.directions-section h2 {
  color: #444;
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
  margin-top: 20px;
}

.ingredients-section ul {
  list-style-type: none;
  padding: 0;
}

.ingredients-section li {
  display: flex;
  justify-content: space-between; /* Ensures space between items */
  align-items: center; /* Align items vertically in the center */
  padding: 10px;
  background: #f3f0f0;
  border-radius: 5px;
  margin-bottom: 5px;
}

.ingredients-section li span {
  flex-grow: 1; /* Allows the ingredient name to take up any available space */
  margin-right: 10px; /* Adds some margin to the right of the ingredient name */
}

.ingredients-section li button {
  white-space: nowrap; /* Ensures the button text does not wrap */
  padding: 5px 10px;       /* Adjust padding for aesthetics */
  background-color: #007bff; /* Primary blue color, change as needed */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ingredients-section li button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.ingredients-section li.has-ingredient {
  background-color: rgb(115, 238, 115); /* Green for ingredients the user has */
}

.ingredients-section li.in-shopping-list {
  background-color: rgb(255, 255, 0); /* Yellow for ingredients in the shopping list */
}

.ingredients-section li.missing-ingredient {
  background-color: rgb(240, 105, 105); /* Red for ingredients the user does not have */
}

.directions-section p {
  white-space: pre-wrap; /* Ensures that formatting and spacing in directions are preserved */
  background: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  line-height: 1.6;
}

.loading-state {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

.added-text {
  text-align: right; /* Pushes the text to the far right */
  padding-left: 10px; /* Optional: Adds some padding to the left */
  color: green; /* Optional: Change text color to green */
}

.loading-state {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}


.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px;
  float: right;
}

.fas.fa-heart {
  color: red; /* Solid heart color */
}

.far.fa-heart {
  color: gray; /* Outline heart color */
}

.loading-spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #06af4c; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 50px auto; /* Center the spinner */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}