<div class="favorite-recipes-container">
    <h2>Favorite Recipes</h2>
    <div *ngIf="favoriteRecipes.length === 0">No favorite recipes found.</div>
    <div class="recipe-box" *ngFor="let recipe of visibleRecipes">
      <h3>{{ recipe.name }}</h3>
      <p>Cook time: {{ recipe.cook_time }} minutes</p>
      <button class="view-recipe-button" (click)="navigateToRecipe(recipe.id)">View Recipe</button>
    </div>
    <div class="pagination-controls" *ngIf="favoriteRecipes.length > recipesPerPage">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
  